header	{ 	
	width: 100%; 	
 	margin-bottom: 20px; 
 	display: inline-block;
 	text-align: center;
 	height: 40px;	

 }
.logo {
margin-top: 8px;
width: 100px;
height: 50px;
margin-left: 0px;
display: inline-block;
float:left;
}
nav 
{
	display: inline-block;	
	margin-right: 80px;
	margin-top: 8px;
	float: right;	
}
ul { 
	margin-bottom: 20px;
	display: inline-block;
	 }
a {
	color: black;
	font-family: my-ninobpg-font;
}
a:hover  {
	color: lightblue;
	transform: .3s;
}

li { display: inline-block;
	margin-left: 10px;
}
.burger {
display: none;
float: right;
border-left: 1px solid grey;
height: 112px;
padding-left: 60px;
padding-right: 60px;
padding-top: 45px;
}
.baner  { width: 100%;
 height: 500px;
 position: relative; 
 overflow: hidden;
}
.mainimg { width: 100%;
	height: auto;
}
.name {position: absolute;
top: 110px;
right: 35%;
font-family: my-ninobpg-font;
}
.name h1, h2 {color: #eff0f4;
	font-family: my-ninobpg-font;

}
.name h2  { margin-left: 120px;} 
.what-i-do h2 { color: black;
}
.heading  {
		position: relative;
		margin-top: 40px;
		margin-left: 45%;
 }
 .heading h2, span {color: black;
 }
.what-i-do span {
 height: 5px;
 width: 5px;
margin-top: 0px;
margin-left: 30px;
}
.flex-mother { 
display: flex;
margin-top: 30px;
margin-left: 200px;
 }
.flex-child {
width: 20%;
height: 240px;
border: 1px solid grey;
margin-right: 30px;
}

.flex-child img {
width: 50px;
height: 50px;
margin-top: 20px;
margin-left: 105px; 
}
.flex-child  h2, span { text-align: center; }
.children {
width: 600px;
height: 240px;
border: 1px solid grey;
margin-right: 30px;
}
.my-work h2 {color: black;
}
 .children:nth-of-type(1) { background-image: url("../img/work1.png") }
 .children:nth-of-type(2) {  background-image: url("../img/work2.png")  }
 .children:nth-of-type(3) {  background-image: url("../img/work3.png")  }
  .children:nth-of-type(4) {  background-image: url("../img/work4.png")  }
  .children:nth-of-type(5) {  background-image: url("../img/work2.png")  }
 .children:nth-of-type(6) {  background-image: url("../img/work3.png")  }
.children img {width: auto;}
.children:nth-of-type(3) {margin-right: 150px;}
.image {width: 300px;
position: relative;}
.image img { width: 100%;
display: block; }
.background {
  background: #81dae2;
  position: absolute;
  width: 100%;
  height: 100%;
 bottom: -20px;
  left: 20px;
  z-index: -1;}

  .about-me article { width: 40%; float: right;}
.end { width: 100%;
background-color: #33363a;
display: flex;
margin-top: 10px;
}  
.contact div { width: 100%;
height: 900px;
background-color: #9af9ee; }
footer {position: relative;}
footer .logo {
margin-top: 8px;
width: 100px;
height: 50px;
float: right;
}
.contact div {background-color: #37efdd;
width: 100%;
height: 500px;}